*{
    margin: 0;
    padding: 0;
}
.body{
    border-left: 7px solid black;
    background-color: rgb(117, 117, 117);
}
.header{
    text-align: center;
    color: wheat;
    background-color: black;
    padding: 20px 20px;
}
.part1{
    font-size: 45px;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}
.part1b{
    color: rgb(253, 252, 207);
}
.part2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.firstsec{
    height: 90vh;
}
.innersec{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgb(250, 206, 125), rgb(247, 222, 175),rgb(247, 207, 133));
    margin: auto;
    width: 55%;
    padding: 20px 0px;
    text-align: center;
    border: 16px solid black;
    border-radius: 10px;
}
.heading{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    
}
.form input{
    font-size: 24px;
    /*box-shadow: gray;*/
    border: 2px solid gray;
    border-radius: 7px;
    margin: 10px 0;
}
.form input:hover{
    transition: .5s;
    color: black;
    border: 2.5px solid black;
}
.form button{
    font-size: 26px;
    color: black;
    border: 2px solid black;
    border-radius: 7px;
    margin: 10px 0;
    cursor: pointer;
    background: linear-gradient(to bottom right,silver ,rgb(32, 36, 44) );
}
.form button:hover{
    transition: .5s;
    color: rgb(184, 170, 131);
    font-size: 27px;
    border: 2.4px solid black;
}
.text-footer{
    font-size: 20px;
    text-align: center;
    padding: 10px 5px;
}
@media only screen and (max-width: 590px){

    .part1{
        font-size: 32px;
    }
    .part2{
        font-size: 14px;
    }
    .innersec{
        width: 80%;
        border: 8px solid black;
    }
    .heading{
        font-size: 28px;
    }
    .content{
        font-size: 12px;
    }
    .form{
        width: 90%;
    }
    .form input{
        font-size: 18px;
    }
    .form button{
        font-size: 20px;
    }
    .form button:hover{
        font-size: 20px;
    }
    .text-footer{
        font-size: 16px;
    }
}